body{
    margin: 0px;
}
main {
    margin-left: 20px;
    margin-right: 20px;
}

h1 {
    text-align: center;
    font-size: 35pt;

    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgb(21, 239, 239)), color-stop(1, rgb(219, 28, 219)));
    background-image: -moz-linear-gradient(top, rgb(21, 239, 239) 0%, rgb(219, 28, 219) 100%);
    background-image: linear-gradient(to bottom, rgb(21, 239, 239) 0%, rgb(219, 28, 219) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}

.credits{
    font-size: 20pt;
}

.g {
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgb(21, 239, 239)), color-stop(1, rgb(219, 28, 219)));
    background-image: -moz-linear-gradient(top, rgb(21, 239, 239) 0%, rgb(219, 28, 219) 100%);
    background-image: linear-gradient(to bottom, rgb(21, 239, 239) 0%, rgb(219, 28, 219) 100%);
    padding: 2px;
}

.navbar{
    margin: 2px;
    background-color: black;
    font-size: 15pt;
    border-radius: 10px;
}

.navbar ul{
    list-style: none;
    padding: 0px;
    margin: 0px;
    display: inline-flex;
    
}

.navbar a{
    border-radius: 10px;
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;

}

.navbar a:hover{
    border-radius: 10px;
    background-color: white;
    color: black;
}