.weather-card{
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 10px;

    border: 5px solid transparent; /* Transparent border for gradient effect */
    border-image: linear-gradient(to bottom, rgb(21, 239, 239), rgb(219, 28, 219)); /* Gradient from top to bottom */
    border-image-slice: 1;
    overflow: hidden;
    border-width: 5px;
    border-radius: 10px;

    margin-bottom: 10px;
    background-color: white;
}

.weather-card-title{
    font-weight: bold;
    font-size: 25pt;
    margin-left: 10px;
    margin-top: 0px;
    margin-bottom: 0px;

    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgb(21, 239, 239)), color-stop(1, rgb(219, 28, 219)));
    background-image: -moz-linear-gradient(top, rgb(21, 239, 239) 0%, rgb(219, 28, 219) 100%);
    background-image: linear-gradient(to bottom, rgb(21, 239, 239) 0%, rgb(219, 28, 219) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.weather-card-data{
    margin-left: 10px;
    font-size: 8pt;
}

.weather-card-date{
    font-size: 20pt;
    margin-left: 10px;
}

.day {
    color: white;
    border-width: 5px;
    border-radius: 10px;
    margin-bottom: 10px;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgb(21, 239, 239)), color-stop(1, rgb(219, 28, 219)));
    background-image: -moz-linear-gradient(top, rgb(21, 239, 239) 0%, rgb(219, 28, 219) 100%);
    background-image: linear-gradient(to bottom, rgb(21, 239, 239) 0%, rgb(219, 28, 219) 100%);
}